# Descartes Underwriting - OULID AZOUZ

In [3]:
import pandas as pd
from pandas.plotting import scatter_matrix

import seaborn as sns
import numpy as np
import sklearn
import scipy.stats


import matplotlib.pyplot as plt
%matplotlib inline

# Get and explore data

In [4]:
data = pd.read_csv("train_auto.csv")
print(data.info())
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8161 entries, 0 to 8160
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   INDEX        8161 non-null   int64
 1   TARGET_FLAG  8161 non-null   int64
 2   TARGET_AMT   8161 non-null   float64
 3   KIDSDRIV     8161 non-null   int64
 4   AGE          8155 non-null   float64
 5   HOMEKIDS     8161 non-null   int64
 6   YOJ          7707 non-null   float64
 7   INCOME       7716 non-null   object
 8   PARENT1      8161 non-null   object
 9   HOME_VAL     7697 non-null   object
 10  MSTATUS      8161 non-null   object
 11  SEX          8161 non-null   object
 12  EDUCATION    8161 non-null   object
 13  JOB          7635 non-null   object
 14  TRAVTIME     8161 non-null   int64
 15  CAR_USE      8161 non-null   object
 16  BLUEBOOK     8161 non-null   object
 17  TIF          8161 non-null   int64
 18  CAR_TYPE     8161 non-null   object
 19  RED_CAR      8161 non-null   object
 20  OLDCLAIM     8161 non-null   object
 21  CLM_FREQ     8161 non-null   int64
 22  REVOKED      8161 non-null   object
 23  MVR_PTS      8161 non-null   int64
 24  CAR_AGE      7651 non-null   float64
 25  URBANICITY   8161 non-null   object
dtypes: float64(4), int64(8), object(14)
memory usage: 1.6+ MB
None

,INDEX,TARGET_FLAG,TARGET_AMT,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,...,BLUEBOOK,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CAR_AGE,URBANICITY
0,1,0,0.0,0,60.0,0,11.0,"$67,349",No,$0,...,"$14,230",11,Minivan,yes,"$4,461",2,No,3,18.0,Highly Urban/ Urban
1,2,0,0.0,0,43.0,0,11.0,"$91,449",No,"$257,252",...,"$14,940",1,Minivan,yes,$0,0,No,0,1.0,Highly Urban/ Urban
2,4,0,0.0,0,35.0,1,10.0,"$16,039",No,"$124,191",...,"$4,010",4,z_SUV,no,"$38,690",2,No,3,10.0,Highly Urban/ Urban
3,5,0,0.0,0,51.0,0,14.0,NaN,No,"$306,251",...,"$15,440",7,Minivan,yes,$0,0,No,0,6.0,Highly Urban/ Urban
4,6,0,0.0,0,50.0,0,NaN,"$114,986",No,"$243,925",...,"$18,000",1,z_SUV,no,"$19,217",2,Yes,3,17.0,Highly Urban/ Urban

The database is made of 8161 entries and 26 columns (the Index, 2 targets, and 23 features to use). 


First, let's check about any double ID we could have.

In [5]:
data['INDEX'].value_counts()

1        1
6874     1
6890     1
6889     1
6888     1
        ..
3444     1
3441     1
3440     1
3439     1
10302    1
Name: INDEX, Length: 8161, dtype: int64

Seems like we are good and have no double ID's : the maximum is number of line for one ID is 1. Regarding the index columns, it looks the data were already processed before (jumps from an ID to another). Let's us INDEX as the df index.

In [6]:
df = data.set_index('INDEX')

## Framing the problem and looking at the big picture

Let's try to understand the problem that this dataset confronts us with. Let's first look at what the variables and the target to in order to understand the context. The target for this project is TARGET_FLAG.

In [9]:
#to have an idea of our target: 
df['TARGET_FLAG'].value_counts()

0    6008
1    2153
Name: TARGET_FLAG, dtype: int64

 Considering the variables and the values taken by the target, it seems that the problem consists in training a model to determine if the individual presents a risk accident (and so using its insurance policy) taking into account all the other parameters. 

The variable  two values (0 and 1), so we are facing a supervised problem of binary classification.

Regarding TARGET_AMT, it looks like the data is non 0 only when TARGET_FLAG is 1. Tis target might correspond to a claim amount and it makes us understand that TARGET_FLAG=1 means the policy was activated.